div(class='container.mt-3')
    div(class='jumbotron')     
        h1(style="color:blue;") Add product
        br
        form(action="/productos", method="post")
            div(class="form-group")
            label(for="title")
                b Titulo
            input#title.form-control(type="text", name="title")
            div(class="form-group")
            label(for="price")
                b Price
            input#price.form-control(type="text", name="price")
            div(class="form-group")
            label(for="thumbnail")
                b Thumbnail
            input#thumbnail.form-control(type="text", name="thumbnail")
            button.btn.btn-success.mt-3.mb-5 Send
        h2(style="color:crimson;") Historial
        if productos.length != 0
            div(class="table-responsive")
                table.table.table-dark
                    tr(style="color: yellow;")
                        th Title
                        th Price
                        th Thumbnail
                    each val in productos
                        tr
                            td= val.title
                            td= val.price
                            td
                                img(style="width: 60px", src=val.thumbnail, alt=val.title)
        else
            h3(class="alert alert-danger") No products

