<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color: blue">Login usuario</h1>
    <br />

    <form action="" method="POST">
      <div class="form-group">
        <label for="us"><b>Ingrese su nombre</b></label>
        <input id="us" class="form-control" type="text" name="us" />
        <label for="pw"><b>Ingrese su password</b></label>
        <input id="pw" class="form-control" type="text" name="pw" />
      </div>
      <button class="btn btn-success mt-3 mb-5">Send</button>
      <a class="btn btn-success mt-3 mb-5" href="./register">Register</a>
    </form>
  </div>
</div>
