<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color: blue">Add product</h1>
    <br />

    <form onsubmit="return addProduct( )">
      <div class="form-group">
        <label for="title"><b>Titulo</b></label>
        <input id="title" class="form-control" type="text" name="title" />
      </div>

      <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input id="price" class="form-control" type="text" name="price" />
      </div>

      <div class="form-group">
        <label for="thumbnail"><b>Thumbnail</b></label>
        <input
          id="thumbnail"
          class="form-control"
          type="text"
          name="thumbnail"
        />
      </div>

      <button class="btn btn-success mt-3 mb-5">Send</button>
    </form>

    <h2 style="color: crimson">Historial</h2>

    <div class="table-responsive" id="productsMain">
      <table class="table table-dark" id="tableProducts">
        <thead>
          <tr style="color: yellow">
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
          </tr>
        </thead>
        <tbody id="bodyProducts"></tbody>
      </table>
    </div>
  </div>
  <div class="jumbotron">
    <h1 style="color: blue">Message Center</h1>
    <br />
    <form onsubmit="return sendMessage()">
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input id="email" class="form-control" type="text" name="email" />
      </div>

      <div id="messagesMain">Mensajes</div>

      <div class="form-group">
        <input id="message" class="form-control" type="text" name="message" />
      </div>

      <button class="btn btn-success mt-3 mb-5">Send</button>
    </form>
  </div>
</div>
